<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();
        });
        
    </script>
    
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
        <nav style="background-color:#b71c1c">
                <div class="nav-wrapper">
                  <a href="/" class="brand-logo">Employee Management Central</a>
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'employee:index' %}">Employees</a></li>
                        <li><a href="{% url 'auth_user:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_user:login' %}">Login</a></li>
                        <li><a href="{% url 'auth_user:create' %}">Register</a></li>
                    {% endif %}
                    
                  </ul>
                </div>
              </nav>
            
              <ul class="sidenav" id="mobile-demo">
                {% if user.is_authenticated %}
                        <li><a href="{% url 'employee:index' %}">Employees</a></li>
                        <li><a href="{% url 'auth_user:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'auth_user:login' %}">Login</a></li>
                    <li><a href="{% url 'auth_user:create' %}">Register</a></li>
                {% endif %}
              </ul>
        

        {% block body_block %}

        {% endblock %}
    
</body>
</html>

