{% include 'base.html' %}

    {% block body_block %}

    

    <div style="padding:30px;">

            {% for employee in employees_list %}

            <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="">
                          <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" width="60" height="60">
                          <span class="card-title">{{employee.name}}</span>
                        </div>
                        <div class="card-content">
                          <p>Role: {{employee.role}}</p>
                          <p>Manager: {{employee.manager.username}}</p>
                        </div>
                        <div class="card-action">
                          <a href="{% url 'employee:employee_detail' pk=employee.pk %}" style="color:#b71c1c;">View Employee</a>
                        </div>
                      </div>
                    </div>
                  </div>
    
        {% empty %}
    
        <h5>There are no employees</h5>
        {% endfor %}

        <br /><br /><br />

        <div class="row">
            <a class="waves-effect waves-light btn" href="{% url 'employee:employee_create' %}" style="background-color:#00008B;">add employee</a>
        </div>

    </div>
        
    {% endblock %}