{% include 'base.html' %}

    {% block body_block %}

    <div class="container">

            <h4>Employee Detail</h4>
            
    <ul class="collection">
        <li class="collection-item avatar">
          <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" width="60" height="60" class="circle">
          <span class="title">Name: {{employees.name}} </span>
          <p>
              <br>
            <b>Location:</b> {{employees.location}} <br>
            <b>Gender:</b> {{employees.gender}} <br>
            <b>Birth Date:</b> {{employees.birth_date}} <br>
            <b>Yearly Salary:</b> {{employees.yearly_salary}} <br>
            <b>Role:</b> {{employees.role}} <br>
            <b>Degree:</b> {{employees.degree}} <br>
            <b>Description:</b> {{employees.description}} <br>
            <b>Created Date:</b> {{employees.created_date}} <br>
            <b>Manager: </b> {{employees.manager.username}}
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>

    <a class="waves-effect waves-light btn" style="background-color:#FF8C00;">Update Info</a>


    </div>
    
        
    {% endblock %}